body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;

}

.mainbox{
    display: flex;
    width: 900px;
    height: 490px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px #888888;
}

.image {
    display: flex;
    width: 40%;
    height: 490px;
    border-radius: 15px 0px 0px 15px;
}

.img {
    border-radius: 14px 0px 0px 14px;
}

.info {
    display: flex;
    width: 75%;
    height: 490px;
    border-radius: 0px 15px 15px 0px;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
}

.title {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    width: 75%;
    margin-right: 50px;

}

.formbox {
    width: 100%;
    height: 50%;
    background-color: white;
    box-shadow: 0 4px 7px -3px gray;
}

fieldset {
    border: none;
    display: flex;
    gap: 50px;
}

.formel{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 35px;
}

.formel label {
    font-size: 0.675rem;
    font-family: 'Roboto' , sans-serif;
}

.formbox p {
    margin-left: 50px;
    font-size: 1.25rem;
}

.formbox input {
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
}

.submitbox {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column ;
    gap: 20px;
    justify-content: center;
    margin-left: 50px;
}

.create {
    width: 200px;
    height: 50px;
    font-family: 'Roboto' , sans-serif;
    font-size: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 darkgray;
    transition: ease-out 0.5s;
}

.create:hover {
    box-shadow: inset 200px 0 0 0 rgb(120, 239, 255);
    cursor: pointer;
}

.login a {
    color: rgb(120, 239, 255);
}

.font {
    font-family: 'Roboto' , sans-serif;
    color: black
}